aenum
aiobotocore
aiohttp
aioitertools
aiosignal
appnope
asttokens
async-timeout
attrs
backcall
backoff
beautifulsoup4
boto3
certifi
chardet
debugpy
decorator
entrypoints
et-xmlfile
executing
frozenlist
fsspec
gremlinpython
idna 
isodate
jedi
jmespath
jsonpath-ng
kaggle
lxml
matplotlib-inline
multidict
openpyxl
opensearch-py
packaging
pandas
nest-asyncio
parso
pexpect
pg8000
pickle-mixin
pickleshare
ply
progressbar2
prompt-toolkit
psutil
ptyprocess
pure-eval
pyarrow
Pygments
PyMySQL
pyparsing
python-dateutil
python-dotenv
python-slugify
python-utils
pytz
pyzmq
redshift-connector
requests
requests-aws4auth
s3fs
s3transfer
scramp
six
smart-open
soupsieve
stack-data
text-unidecode
tornado
tqdm
traitlets
typing_extensions
urllib3
wcwidth
wrapt
xlrd
yarl
zipfile36
